body {
    border: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: black;
    
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
input{
    width:240px;
    height:50px;
    border-radius: 8px;
    font-size: 18px;
    color: black;
}
#searchButton{
    align-items:left;
    margin:0;
    width:70px;
    height: 56px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color:rgb(240, 177, 16);

}
::placeholder{
    font-size: 18px;
    color: black;
}
.search-container {
    display:flex;
    text-align: center;
    margin:50px;
    height:100%;
    padding:50px;
    justify-content: center;
}

.results-container {
    
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 50%;

}

.cocktail-box {
    border: 0;
    padding: 0;
    margin: auto;
    cursor: pointer;
    width:100%;
    border-radius:20px;
    background-color: azure;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    
}
@media{
    max-width: 768px;
}
